@import "tailwindcss";
@import 'nprogress/nprogress.css';
@import "./lib/toastify.css";

/* tailwind config */
@source "../views";
@custom-variant dark (&:where(.dark, .dark *));

/* extract css from SFC files */
@import 'extract-sfc-css:../views/**/*.html';

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

[x-cloak] { display: none !important; }
