@import 'nprogress/nprogress.css';
@import "tailwindcss";

/* tailwind config */
@source "../views";
@custom-variant dark (&:where(.dark, .dark *));

@import 'extract-sfc-css:../views/**/*.html';

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

[x-cloak] { display: none !important; }
