@import 'nprogress/nprogress.css';

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../views";

@import 'extract-sfc-css:../views/**/*.html';

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

[x-cloak] { display: none !important; }
