@import 'nprogress/nprogress.css';
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../views";
@import 'extract-sfc-css:../views/**/*.html';

[x-cloak] { display: none !important; }
